<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    
    <title>Quark</title>
    
    <link rel="stylesheet" type="text/css" href="styles/Style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body class="bg-dark">
    <div id="root"></div>
    
    <script type="text/babel" src="components/panels/archetypes/Request.js"></script>
    <script type="text/babel" src="components/panels/archetypes/PostMapping.js"></script>
    <script type="text/babel" src="components/panels/Panel.js"></script>
    <script type="text/babel" src="components/panels/OutputVariable.js"></script>
    <script type="text/babel" src="components/panels/InputVariable.js"></script>
    <script type="text/babel" src="components/DrawableCurve.js"></script>
    <script type="text/babel" src="components/DraggableCurve.js"></script>
	<script type="text/babel" src="components/ConnectingCurve.js"></script>
    <script type="text/babel" src="components/Curve.js"></script>
    <script type="text/babel" src="components/Line.js"></script>
    <script type="text/babel" src="components/Anchor.js"></script>
    <script type="text/babel" src="components/BezierCurve.js"></script>
    <script type="text/babel" src="components/QuarkApp.js"></script>
    <script type="text/babel" src="quark.js"></script>
  </body>
</html>