body {
	background: #212121;
	margin: 0;
	overflow: hidden;
}

.draggable-box {
	border-radius: 4px;
	position: absolute;
	background: #2E2E2E;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	line-height: 0;
}

.panel1 {
	position: absolute;
	left: 100px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel2 {
	position: absolute;
	left: 400px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel3 {
	position: absolute;
	left: 700px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel4 {
	position: absolute;
	left: 1000px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}