body {
	background: #212121;
	margin: 0;
	overflow: hidden;
}

.panel1 {
	position: absolute;
	left: 100px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel2 {
	position: absolute;
	left: 400px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel3 {
	position: absolute;
	left: 700px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}

.panel4 {
	position: absolute;
	left: 1000px;
	top: 100px;
	background: #e9ecef;
	width: 200px;
	height: 200px;
}